<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}
                <div class="portfolio-item">
                    <div class="he-wrap tpl6">
                    <a href="{{  project.website }}"><img height="200" width="200" src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt=""></a>
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->